* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
}

.fullContactPage {
  min-height: 100vh;
  background: url("./Assets/contactImg.jpg");
}

.contact {
  position: relative;

  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
}

.content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.content h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
  position: relative;
}
.content p {
  color: white;
}
.content h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: blue;
}
.containerContact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerContact .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.containerContact .contactInfo .box {
  position: relative;
  display: flex;
  padding: 20px 0;
}
.containerContact .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.containerContact .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  color: white;
  flex-direction: column;
  font-size: 24px;
}
.containerContact .contactInfo .box .text h4 {
  color: yellow;
}
.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}
.contactForm .inputBox span {
  position: relative;
  left: 0;
  padding: 35px 0px;
  font-size: 16px;
  margin: 18px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 18px;
  transform: translateY(-28px);
}
.sendBtn {
  display: block;
  /* width: 100%; */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
  float: right;
}
